@model IraqWebsite.ViewModels.Projects.ProjectDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class=" position-relative " style="background: url(@Model.Image) ; height:40vh; background-size: cover;  ">
    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@Model.Title</h1>
            <div class="breadcumb-menu-wrap">
            </div>
        </div>
    </div>
</div>



        <section class=" space-top space-extra-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="mb-3 pb-3"><img src="@Model.Image" style="height: 500px; object-fit: cover;" alt="Project image"></div>
                    <h2 class="h4">@Model.Title</h2>
                    <p>@Model.Description</p>
                </div>
                <div class="col-lg-4 put-rtl mt-30 mt-lg-0">
                    <div class="project-box">
                        <h3 class="project-box__title h5">@ViewData["ProjectDetails"]</h3>
                        <div class="project-box__item">
                            <div class="project-box__icon"><i class="fas fa-user"></i></div>
                            <div class="media-body">
                            <span class="project-box__label">@ViewData["Client"]:</span>
                                <h4 class="project-box__info">@Model.Clinet</h4>
                            </div>
                        </div>
                        <div class="project-box__item">
                            <div class="project-box__icon"><i class="fas fa-layer-group"></i></div>
                            <div class="media-body">
                            <span class="project-box__label">@ViewData["Category"]:</span>
                                <h4 class="project-box__info">@Model.Category.Title</h4>
                            </div>
                        </div>
                        <div class="project-box__item">
                            <div class="project-box__icon"><i class="fas fa-calendar-alt"></i></div>
                            <div class="media-body">
                            <span class="project-box__label">@ViewData["Date"]:</span>
                                <h4 class="project-box__info">@Model.Date.ToString("dd MMM, yyyy")</h4>
                            </div>
                        </div>
                        <div class="project-box__item">
                            <div class="project-box__icon"><i class="fas fa-map-marker-alt"></i></div>
                            <div class="media-body">
                            <span class="project-box__label">@ViewData["Address"]:</span>
                                <h4 class="project-box__info">@Model.Address</h4>
                            </div>
                        </div>
                    </div>
                    <div class="quote-box" style="background: url(./assets/img/2.jpg) center; background-size: cover;">
                    <h3 class="quote-box__title">@ViewData["AnyQuestions"]</h3>
                    <a asp-controller="ContactUs" asp-action="Index" class="vs-btn">@ViewData["ContactUs"]<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>