

<title>@ViewData["Title"] @ViewBag.Appearance.ApplicationName </title>
<link rel="icon" type="image/x-icon" style="width:64px;height:64px;" href="@ViewBag.Appearance.FavIcon">
<meta name="author" content="@ViewBag.Appearance.MetaTitle" />
<meta name="description" content="@ViewBag.Appearance.MetaDescription" />
<meta name="keywords" content="@ViewBag.MetaKeyWord" />