@model IEnumerable<IraqWebsite.Models.ContactUs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Contact Us Page</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Updated Date</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Location</th>

                    @if (User.HasClaim("Permission", "Contact Edit"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td><img width="75" height="75" src="@item.Img" /></td>
                        <td>@item.Title</td>
                        <td>@item.UpdateDate</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Location</td>
                        
                        <td>
                            <div class="d-flex justify-content-center">
                                @if (User.HasClaim("Permission", "Contact Edit"))
                                {
                                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                                }
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>