@model IraqWebsite.ViewModels.ContactUs.ContactUsDto
<style>
    .grecaptcha-badge {
        z-index: 999;
        margin-bottom: 4%;
    }
</style>

@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using IraqWebsite.Helper
@inject IOptions<GoogleReCaptchaConfig> GoogleReCaptchaConfig

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model is not null)
{
    <div class=" position-relative " style="background: url('/Images/pic.jpg'); height:40vh; background-size: cover;  ">
        <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
        <div class="container h-100" style="z-index:4; position:relative">
            <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
                <h1 class="breadcumb-title">@ViewData["CONTACTUS"]</h1>

            </div>
        </div>
    </div>

    <section class=" space-top space-extra-bottom">
        <div class="container">
           
            <div class="row space-extra-bottom">
                <div class="col-xxl-4 mb-5">
                    <div class="card location p-5" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border: none;">
                        <div class="icon mb-2 w-100 d-flex justify-content-center">
                       <div class="contact-box__icon" >
                        <i class="far fa-map-marker-alt fa-2x"></i>
                    </div>
                        </div>
                        <div class="text text-center">
                            <h4>@ViewData["OFFICELOCATION"]</h4>
                            <p>@Model.Location</p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 mb-5">
                    <div class="card location p-5" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border: none;">
                        <div class="icon mb-2 w-100 d-flex justify-content-center">
                            <div class="contact-box__icon"><i class="far fa-phone fa-2x"></i></div>

                        </div>
                        <div class="text text-center">
                            <h4>@ViewData["CALLUS"]</h4>
                            <p><a style="color: var(--body-color);"  href="tel:+964770000000">@Model.Phone</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-xxl-4 mb-5">
                    <div class="card location p-5" style="box-shadow: rgba(68, 62, 62, 0.35) 0px 5px 15px; border: none;">
                        <div class="icon mb-2 w-100 d-flex justify-content-center">
                       <div class="contact-box__icon" >
                        <i class="far fa-envelope fa-2x"></i>
                    </div>
                        </div>
                        <div class="text text-center">
                            <h4>@ViewData["EMAILUS"]</h4>
                            <p><a href="mailto:@Model.Email" style="color: var(--body-color);">@Model.Email</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">  
                <div class="col-lg-12 mb-30">
                    <div class="contact-box">
                        <h3 class="contact-box__title h4">@ViewData["LeaveaMessage"]</h3>
                        <p class="contact-box__text">@ViewData["We’reReadyToHelpYou"]</p>
                        <form class="contact-box__form" onsubmit="sendReview()">
                            <div class="row gx-20">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" id="name" placeholder="@ViewData["Name"]">
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" name="email" id="email" placeholder="@ViewData["Email"]">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="col-12 form-group">
                                    <input type="text" name="Subject" id="subject" placeholder="@ViewData["Subject"]">

                                </div>
                                <input type="hidden" id="token" name="token" />
                                <div class="col-12 form-group">
                                    <textarea name="message" id="message" placeholder="@ViewData["Message"]"></textarea>
                                </div>
                                <div class="col-12 put-rtl">
                                    <button type="submit" class="vs-btn">@ViewData["Submit"]<i class="far fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messages mb-0 mt-3"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@ViewBag.SiteKey"></script>
    <!--Google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBrMPsyNtpwKXPPpG54XwJXnyobfMAIc"></script>
    <script>
        function sendReview() {
            event.preventDefault();
            let form = document.getElementById('form')
            let token = document.getElementById('token').value;
            let email = document.getElementById('email').value;
            let fullName = document.getElementById('name').value;
            let message = document.getElementById('message').value;
            let subject = document.getElementById('subject').value;

            $.ajax({
                type: 'post',
                url: '/ContactUs/Review',
                data: {
                    Email: email,
                    Token: token,
                    FullName: fullName,
                    subject: subject,
                    Message: message,
                },
                success: function(response) {
                    Swal.fire('Success', 'Your Sumbit Added Successfully', 'success');
                    form.reset();

                },
                error: function(response) {
                    Swal.fire('Warning', `${response.responseText}`, 'warning');
                    form.reset();
                    setTimeout(function() {
                        location.reload();
                    }, 1500);
                }
            })
        }
       $(function() {
            grecaptcha.ready(function() {
                grecaptcha.execute('@GoogleReCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                    document.getElementById("token").value = token
                });
            });


        });
    </script>
}
