@model IraqWebsite.ViewModels.Events.EventDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" position-relative " style="background: url(@Model.Image) center; height:40vh; background-size: cover;  ">
    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@Model.Title</h1>
            <div class="breadcumb-menu-wrap">
            </div>
        </div>
    </div>
</div>


     <section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="row gx-40">
                <div class="col-lg-8">
                    <div class="vs-blog blog-single">
                        <div class="blog-img">
                            <img src="@Model.Image" alt="Blog Image" style="height: 500px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="ms-4"><i class="far fa-calendar ms-2"></i>@Model.Date.ToString("dd MMM, yyyy")</a>
                                <a >@Model.Category.Title</a>
                            </div>
                            <h2 class="blog-title">@Model.Title</h2>
                            <p>@Model.Description</p>
                            <div class="row mt-30">
                                <div class="col-md-6 mb-30">
                                    <img src="@Model.ImageTwo" alt="Blog image" style="height: 350px; width: 100%; object-fit: cover;">
                                </div>
                                <div class="col-md-6 mb-30">
                                    <img src="@Model.ImageThree" alt="Blog image" style="height: 350px; width: 100%; object-fit: cover;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 put-rtl">
                    <aside class="sidebar-area">
                        <div class="widget">
                            <h3 class="widget_title">Recent Events</h3>
                            <div class="recent-post-wrap">
                                @foreach(var even in ViewBag.Events) {
                                    <div class="recent-post">
                                    <div class="media-img">
                                        <a asp-action="Details" asp-route-id="@even.Id"><img src="@even.Image" alt="Blog Image" style="height: 80px; width: 80px; object-fit: cover;"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title description"><a class="text-inherit" href="blog-details.html">@even.Title</a></h4>
                                        <div class="recent-post-meta">
                                            <a asp-action="Details" asp-route-id="@even.Id">@even.Date.ToString("dd MMM, yyyy")</a>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        @*<div class="widget widget_categories">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                @foreach(var categ in ViewBag.Categories)
                            {
                                <li>
                                    <a asp-action="Index" asp-route-categoryId="@categ.Id">@categ.Title</a>
                                </li>
                            }
                            </ul>
                        </div>*@
                    </aside>
                </div>
            </div>
        </div>
    </section>