@model ICollection<IraqWebsite.ViewModels.Events.EventDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" position-relative " style="background: url('/Images/pic.jpg'); height:40vh; background-size: cover;  ">
    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@ViewData["Exhibitions&Events"]</h1>
            
        </div>
    </div>
</div>

    <section class="vs-blog-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="row gx-40">
            @foreach(var even in Model)
            {
                <div class="col-lg-8">
                    <div class="vs-blog blog-single">
                        <div class="blog-img">
                            <a asp-controller="Events" asp-action="Details" asp-route-item="@even.Id"><img src="@even.Image" class="w-100" style="height: 450px; object-fit: cover;" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content put-rtl">
                            <div class="blog-meta">
                                <a href="blog.html" class="ms-4"><i class="far fa-calendar ms-2"></i>@even.Date.ToString("d MMM, yyyy")</a>
                                <a  style="color: var(--theme-color);">@even.Category.Title</a>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">@even.Title</a></h2>
                            <p>@even.SubDescription</p>
                            <a asp-controller="Events" asp-action="Details" asp-route-id="@even.Id" class="link-btn">@ViewData["READDETAILS"]<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-4 put-rtl">
                    <aside class="sidebar-area">
                        <div class="widget">
                        <h3 class="widget_title">@ViewData["RecentPosts"]</h3>
                            <div class="recent-post-wrap">
                                @foreach(var even in ViewBag.Events) {
                                    <div class="recent-post">
                                    <div class="media-img">
                                        <a asp-action="Details" asp-route-id="@even.Id"><img src="@even.Image" alt="Blog Image" style="height: 80px; width: 80px; object-fit: cover;"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title description"><a class="text-inherit" href="blog-details.html">@even.Title</a></h4>
                                        <div class="recent-post-meta">
                                            <a asp-action="Details" asp-route-id="@even.Id">@even.Date.ToString("dd MMM, yyyy")</a>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="widget widget_categories">
                        <h3 class="widget_title">@ViewData["Categoriess"]</h3>
                            <ul>
                            @foreach(var categ in ViewBag.Categories)
                            {
                                <li>
                                    <a asp-action="Index" asp-route-categoryId="@categ.Id">@categ.Title</a>
                                </li>
                            }
                        </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

