@model IraqWebsite.ViewModels.Department.DepartmentDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" position-relative " style="background: url(@Model.ImageOne) center; height:40vh; background-size: cover;  ">
    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h2 class="breadcumb-title">@Model.Name</h2>
            <div class="breadcumb-menu-wrap">
            </div>
        </div>
    </div>
</div>

   <section class="position-relative space">
        <div class="container z-index-common">
            <div class="row gx-60">
                <div class="col-lg-6 put-rtl col-xl-5 mb-50 mb-lg-0 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="img-box1">
                        <div class="img-1">
                            <img src="@Model.ImageOne" alt="About image" style="object-fit: cover; height: 500px; width: 90%;">
                        </div>
                        <div class="img-2">
                            <img src="@Model.ImageTwo" alt="About image" style="height: 283px; width: 340px; object-fit: cover;"> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 align-self-start wow fadeInUp" data-wow-delay="0.3s">
                    <span class="sec-subtitle"><i class="fas fa-bring-forward ms-2"></i>@ViewData["Department"]</span>
                    <h2 class="sec-title h1">@Model.Name</h2>
                    <p class="mb-4 mt-1 pb-3">@Model.Description</p>
                </div>
            </div>
        </div>
    </section>

    <section class="structure mb-5 put-rtl">
        <div class="container pb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card position-relative" style="background: url(@ViewBag.StructrueSection)center; background-size: cover; height: 400px;">
                    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
                    <div class="text h-100 w-100 d-flex align-items-center justify-content-center flex-column" style="position: relative; z-index: 100;">
                        <h2 class="text-light">@ViewData["ToSeeTheStructure"]</h2>
                            <a asp-action="Structure" class="vs-btn">@ViewData["ViewAllStructure"]<i class="far fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
      
        </div>
    </section>
