@model ICollection<IraqWebsite.ViewModels.Department.DepartmentDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" position-relative " style="background: url('/Images/pic.jpg'); height:40vh; background-size: cover;  ">
    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@ViewData["Departments"]</h1>
            <div class="breadcumb-menu-wrap">
            </div>
        </div>
    </div>
</div>

    <section class="vs-blog-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="row mb-5">
               
                    <div class="row">
                        @foreach(var department in Model) {
                            <div class="col-12 col-md-6" style="margin-bottom: 80px;">
                            <a asp-action="Details" asp-route-id="@department.Id">
                            <div class="card position-relative" style="height:300px; width: 100%; background: url(@department.ImageOne)center; background-size: cover; ">
                                <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
                                <div class="text w-75 rounded-2 d-flex align-items-center" style="position: absolute; bottom: -30px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; left: 50%; transform: translateX(-50%); background-color: #fff; " >
                                  <h5 class="text-dark w-100 m-0 p-4 text-center" >@department.Name</h5>  
                                </div>
                            </div>
                            </a>
                        </div>
                        }
                    </div>
            </div>
        </div>
    </section>
    <section class="structure mb-5 ">
        <div class="container pb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card position-relative put-rtl" style="background: url(@ViewBag.StructrueSection)center; background-size: cover; height: 400px;">
                    <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
                    <div class="text h-100 w-100 d-flex align-items-center justify-content-center flex-column" style="position: relative; z-index: 100;">
                        <h2 class="text-light">@ViewData["ToSeeTheStructure"]</h2>
                            <a asp-action="Structure" class="vs-btn">@ViewData["ViewAllStructure"]<i class="far fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>