@model ICollection<IraqWebsite.ViewModels.Services.ServiceDto>
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" position-relative " style="background: url('/Images/pic.jpg') ; background-size: cover; height:40vh  ">
        <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100 " style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@ViewData["Services"] </h1>

            </div>
        </div>
    </div>
     <section class=" space-top space-extra-bottom" data-bg-src="~/assets/img/bg/sr-bg-3-1.jpg">
        <div class="container   wow fadeInUp" data-wow-delay="0.2s">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
                <div class="col-md-12 text-center text-lg-start">
                    <div class="title-area text-center">
                        <span class="sec-subtitle"><i class="fas fa-bring-forward"></i>@ViewBag.ServiceSection.SubTitle</span>
                        <h2 class="sec-title3 h1">@ViewBag.ServiceSection.Title</h2>
                    </div>
                </div>
                
            </div>
            <div class="row">
                 @foreach(var service in Model) {
                    <div class="col-xl-3 put-rtl ">
                    <div class="service-style3" style="height:400px">
                        <div class="service-front">
                            <div class="service-img">
                                <img src="@service.Image" alt="image" class="w-100" style="height: 200px; object-fit: cover;">
                            </div>
                            <div class="service-content">
                                <div class="service-icon"><img src="@service.Icon" style="height: 50px; width: 50px; object-fit: contain;" alt="icon"></div>
                                <h3 class="service-title h6"><a href="service-details.html">@service.Title</a></h3>
                            </div>
                        </div>
                        <div class="service-back put-rtl h-100">
                            <div class="service-content">
                                <div class="service-icon"><img src="@service.IconWhite" style="height: 50px; width: 50px; object-fit: contain;" alt="icon"></div>
                                <h3 class="service-title h6"><a class="text-inherit" href="service-details.html">@service.Title</a></h3>
                                <p class="service-text">@service.SubDescription</p>
                                <a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id" class="link-btn">@ViewData["Read"]<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    </div>
             
                }
            </div>
        </div>
    </section>