 
<style>
    .body{
        overflow-x:hidden;
    }
    .grecaptcha-badge {
        z-index: 999;
        display:none;
        bottom:30% !important;
        overflow:hidden;
    }
</style>

@if (Model.Result is not null)
{
    var siteKey = @ViewBag.SiteKey;

<!--CTA Two End-->
        <!--Site Footer One Start-->


    <section class="z-index-common space position-relative put-rtl" style="background: url('/Images/pic2.jpg') center; background-size: cover;">
        <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: linear-gradient(155deg, black, transparent) !important; "></div>
        <div class="container" style="z-index: 100; position: relative;">
            <div class="row text-center text-lg-start align-items-center justify-content-between">
                <div class="col-lg-auto">
                    <span class="sec-subtitle text-white w-100" style="text-align: start;">@ViewData["Question"]</span>
                    <h2 class="h1 sec-title cta-title1 w-100" style="text-align: start;">@ViewData["Consult"]</h2>
                </div>
                <div class="col-lg-auto">
                    <a asp-controller="ContactUs" asp-action="Info" class="vs-btn">@ViewData["Contactt"]<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
         <footer class="footer-wrapper footer-layout5" style="background-color: #f2f2f2; border: none;" >
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 put-rtl col-md-6">
                        <div class="widget footer-widget">
                            <div class="vs-widget-about">
                                <div class="footer-logo w-100 d-flex align-items-start flex-column justify-content-start" >
                                    <a href="index.html" class="mb-2"><img src="~/assets/img/logo321.svg" alt="TechBiz" style="height: 130px; width: 130px; object-fit: contain;" ></a>
                                    <p class="text-dark" style="font-weight: 600; text-align: start; font-size: 22px;">@ViewData["GeneralComp"] @ViewData["ElectronicSystems"]</p>
                                </div>
                                <div class="footer-info-list" >
                                    <div class="d-flex mb-2" ><p class=" d-flex  "><div class="div"><i class="fal fa-map-marker-alt  " style="color: var(--theme-color);"></i></div>@ViewData["FooterLocation"]</p></div>
                                    <div class="d-flex mb-2 " ><p class=" d-flex"><div class="div"><i class="fal fa-envelope  " style="color: var(--theme-color);"></i></div><a style="color: var(--body-color) !important;" href="mailto:@ViewData["FooterEmail"]">@ViewData["FooterEmail"]</a></p></div>
                                    <div class="d-flex mb-2 " ><p class=" d-flex" ><div class="div"><i class="fal fa-phone-alt  " style="color: var(--theme-color);"></i></div><a style="color: var(--body-color) !important;" href="tel:@ViewData["FooterPhone"]"dir="rtl" > <span dir="ltr">@ViewData["FooterPhone"]</span></a></p></div>
                                </div>
                                <div class="footer-social style2">
                                    <a href="@ViewData["FooterFacebook"]"><i class="fab fa-facebook-f"></i></a>
                                    <a href="@ViewData["FooterInstgram"]"><i class="fab fa-instagram"></i></a>
                                    <a href="@ViewData["FooterLinkden"]"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex justify-content-start ">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">@ViewData["Pages"]</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a asp-controller="AboutUs" asp-action="Index">@ViewData["About"]</a></li>
                                    <li><a asp-controller="Services" asp-action="Index">@ViewData["Services"]</a></li>
                                    <li><a asp-controller="Projects" asp-action="Index">@ViewData["Projectss"]</a></li>
                                    <li><a asp-controller="AcadmeicTraining" asp-action="Index">@ViewData["AcedemicTraining"]</a></li>
                                    <li><a asp-controller="Events" asp-action="Index">@ViewData["RecentlyEvents"]</a></li>
                                    <li><a asp-controller="Departments" asp-action="Index">@ViewData["Departments"]</a></li>
                                    <li><a asp-controller="ContactUs" asp-action="Info">@ViewData["Contact"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="widget  footer-widget">
                            <h4 class="widget_title ">@ViewData["ConnectWithUs"]</h4>
                            <form class="newsletter-form2" onsubmit="sendSubscribe()">
                                <p class="form_text">@ViewData["SubscribeDesc"]</p>
                                <input class="form-control" id="emailSubScribe" type="email" placeholder="@ViewData["EnteryourEmail"]">
                                <button type="submit" class="vs-btn mask-style1 submit">@ViewData["Subscribe"]</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex justify-content-start ">
                        <div class="widget footer-widget">
                            <h4 class="widget_title">@ViewData["RecentlyEvents"]</h4>
                               @foreach(var even in ViewBag.Events) {
                                   <div class="blog-card mb-4 d-flex">
                                <img src="@even.Image" alt="" class="mx-3" style="height: 80px; width: 100px; object-fit: cover;">
                                <a asp-controller="Events" asp-action="Details" asp-route-id="@even.Id"><p class="mb-0 text-dark" >@even.Title</p>
                                            <p class="" style="color: var(--theme-color);">@even.Date.ToString("d MMM, yyyy")</p>
                                </a>    
                                </div>
                               }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <p class="copyright-text"> <i class="fal fa-copyright"></i> <a href="index.html">@ViewData["Copyright"]</a></p>
            </div>
        </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@siteKey"></script>
    <script>
        function sendSubscribe() {
            event.preventDefault();
            let email = document.getElementById('emailSubScribe');
            let emailHome = document.getElementById('emailSubScribeHome');
            if (email.value == "") {
                email.value = emailHome.value;
            }
            if (email != '') {
                $.ajax({
                    type: 'post',
                    url: '/Subscribers/Create',
                    data: {
                        email: email.value,
                    },
                    success: function (response) {
                        Swal.fire('Success', 'Your Email Added Successfully', 'success');
                        email.value = '';
                        emailHome.value = '';
                    },
                    error: function (response) {
                        Swal.fire('Warning', `${response.responseText}`, 'warning');
                        email.value = '';
                        emailHome.value = '';
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                })
            }
        }

        $(function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('@siteKey', { action: 'submit' }).then(function (token) {
                    document.getElementById("token").value = token
                });
            });
        });
    </script>
    
}

