@model IraqWebsite.ViewModels.AboutUs.EditAboutUsPageVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>About Us Page</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="EditPage" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="row">
                <div class="image-preview image-preview-container">
                    <div class="preview">
                       <div id="preview-selected-images">
                            @if(ViewBag.ImageSectionOne != null)
                            {
                                <img src="@ViewBag.ImageSectionOne" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageSectionOne" for="file-upload">Upload Image Section</label>
                    <input asp-for="ImageSectionOne" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="ImageSectionOne" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="image-preview image-preview-container10">
                    <div class="preview">
                         <div id="preview-selected-images">
                            @if(ViewBag.ImageOurMission != null)
                            {
                                <img src="@ViewBag.ImageOurMission" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageOurMission" for="file-upload10">Upload Image Our Mission</label>
                    <input asp-for="ImageOurMission" class="form-control" type="file" id="file-upload10" onchange="previewImages(`image-preview-container10`);" />
                    <span asp-validation-for="ImageOurMission" class="text-danger"></span>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionOurMission" class="control-label">Description Our Mission</label>
                        <textarea rows="3" asp-for="DescriptionOurMission" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionOurMission" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionArOurMission" class="control-label">Description Arabic Our Mission</label>
                        <textarea rows="3" asp-for="DescriptionArOurMission" class="form-control" ></textarea>
                        <span asp-validation-for="DescriptionArOurMission" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image-preview image-preview-container1">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.ImageOurGoal != null)
                            {
                                <img src="@ViewBag.ImageOurGoal" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageOurGoal" for="file-upload1">Upload Image Our Goal</label>
                    <input asp-for="ImageOurGoal" class="form-control" type="file" id="file-upload1" onchange="previewImages(`image-preview-container1`);" />
                    <span asp-validation-for="ImageOurGoal" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionOurGoal" class="control-label">Description Our Goal</label>
                        <textarea rows="3" asp-for="DescriptionOurGoal" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionOurGoal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionArOurGoal" class="control-label">Description Arabic Our Goal</label>
                        <textarea rows="3" asp-for="DescriptionArOurGoal" class="form-control" ></textarea>
                        <span asp-validation-for="DescriptionArOurGoal" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.ImageOurVision != null)
                            {
                                <img src="@ViewBag.ImageOurVision" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageOurVision" for="file-upload2">Upload Image Our Vision</label>
                    <input asp-for="ImageOurVision" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="ImageOurVision" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionOurVision" class="control-label">Description Our Vision</label>
                        <textarea rows="3" asp-for="DescriptionOurVision" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionOurVision" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionArOurVision" class="control-label">Description Arabic Our Vision</label>
                        <textarea rows="3" asp-for="DescriptionArOurVision" class="form-control" ></textarea>
                        <span asp-validation-for="DescriptionArOurVision" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image-preview image-preview-container3">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.ImageManagerWord != null)
                            {
                                <img src="@ViewBag.ImageManagerWord" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageManagerWord" for="file-upload3">Upload Image Manager Word</label>
                    <input asp-for="ImageManagerWord" class="form-control" type="file" id="file-upload3" onchange="previewImages(`image-preview-container3`);" />
                    <span asp-validation-for="ImageManagerWord" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ManagerWordTitle" class="control-label">Manager Word Title</label>
                        <input asp-for="ManagerWordTitle" class="form-control" />
                        <span asp-validation-for="ManagerWordTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ManagerWordTitleAr" class="control-label">Manager Word Title Arabic</label>
                        <input asp-for="ManagerWordTitleAr" class="form-control" />
                        <span asp-validation-for="ManagerWordTitleAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ManagerWordDescription" class="control-label">Manager Word Description</label>
                        <textarea rows="3" asp-for="ManagerWordDescription" class="form-control"></textarea>
                        <span asp-validation-for="ManagerWordDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ManagerWordDescriptionAr" class="control-label">Manager Word Description Arabic</label>
                        <textarea rows="3" asp-for="ManagerWordDescriptionAr" class="form-control" ></textarea>
                        <span asp-validation-for="ManagerWordDescriptionAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CompanySkillTitle" class="control-label">Company Skill Title</label>
                        <input asp-for="CompanySkillTitle" class="form-control" />
                        <span asp-validation-for="CompanySkillTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CompanySkillTitleAr" class="control-label">Company Skill Title Arabic</label>
                        <input asp-for="CompanySkillTitleAr" class="form-control" />
                        <span asp-validation-for="CompanySkillTitleAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CompanySkillDescription" class="control-label">Company Skill Description</label>
                        <textarea rows="3" asp-for="CompanySkillDescription" class="form-control"></textarea>
                        <span asp-validation-for="CompanySkillDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CompanySkillDescriptionAr" class="control-label">Company Skill Description Arabic</label>
                        <textarea rows="3" asp-for="CompanySkillDescriptionAr" class="form-control" ></textarea>
                        <span asp-validation-for="CompanySkillDescriptionAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="image-preview image-preview-container4">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.CompanySkillImageOne != null)
                            {
                                <img src="@ViewBag.CompanySkillImageOne" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="CompanySkillImageOne" for="file-upload4">Upload Company Skills Image One</label>
                    <input asp-for="CompanySkillImageOne" class="form-control" type="file" id="file-upload4" onchange="previewImages(`image-preview-container4`);" />
                    <span asp-validation-for="CompanySkillImageOne" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview image-preview-container5">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.CompanySkillImageTwo != null)
                            {
                                <img src="@ViewBag.CompanySkillImageTwo" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="CompanySkillImageTwo" for="file-upload5">Upload Company Skills Image Two</label>
                    <input asp-for="CompanySkillImageTwo" class="form-control" type="file" id="file-upload5" onchange="previewImages(`image-preview-container5`);" />
                    <span asp-validation-for="CompanySkillImageTwo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview image-preview-container6">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.CompanySkillImageThree != null)
                            {
                                <img src="@ViewBag.CompanySkillImageThree" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="CompanySkillImageThree" for="file-upload6">Upload Company Skills Image Three</label>
                    <input asp-for="CompanySkillImageThree" class="form-control" type="file" id="file-upload6" onchange="previewImages(`image-preview-container6`);" />
                    <span asp-validation-for="CompanySkillImageThree" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            @*<div class="row" style="justify-content: center;">
                
                <input asp-for="IsActive" hidden class="form-control" type="checkbox" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>*@
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
