@model List<IraqWebsite.AuthManager.Models.UserActivityLog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3>Authentication log</h3>
        @if (User.HasClaim("Permission", "Log Delete"))
        {
            <a type="button" class="btn btn-danger" asp-controller="UserMangment" asp-action="DeleteAuthLog">Delete <i class="fa fa-trash"></i></a>
        }
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>AreaAccessed</th>
                    <th>Browser</th>
                    <th>IPAddress</th>
                    <th>Platform</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                    <th>UserName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.AreaAccessed
                        </td>
                        <td>
                            @item.Browser
                        </td>
                        <td>
                            @item.IPAddress
                        </td>
                        <td>
                            @item.Platform
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Timestamp
                        </td>
                        <td>
                            @item.UserName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->