@model IraqWebsite.ViewModels.Services.EditService

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Edit Service</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="EditService" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" TitleAr" class="control-label"></label>
                                <input asp-for="TitleAr" class="form-control" />
                                <span asp-validation-for="TitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="SubDescription" class="control-label">Sub Description</label>
                                <input asp-for="SubDescription" class="form-control" />
                                <span asp-validation-for="SubDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" SubDescriptionAr" class="control-label">Sub Description Arabic</label>
                                <input asp-for="SubDescriptionAr" class="form-control" />
                                <span asp-validation-for="SubDescriptionAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea rows="3" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionAr" class="control-label"></label>
                        <textarea rows="3" asp-for="DescriptionAr" class="form-control" ></textarea>
                        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input asp-for="ServiceFeature" class="form-check-input" type="checkbox" />
                <label asp-for="ServiceFeature" class="form-check-label">Active Service Feature
                </label>
                <span asp-validation-for="ServiceFeature" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="ServiceFeatureOne" class="control-label">Service Feature One</label>
                                <input asp-for="ServiceFeatureOne" class="form-control" />
                                <span asp-validation-for="ServiceFeatureOne" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" ServiceFeatureOneAr" class="control-label">Service Feature One Arabic</label>
                                <input asp-for="ServiceFeatureOneAr" class="form-control" />
                                <span asp-validation-for="ServiceFeatureOneAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="ServiceFeatureTwo" class="control-label">Service Feature Two</label>
                                <input asp-for="ServiceFeatureTwo" class="form-control" />
                                <span asp-validation-for="ServiceFeatureTwo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" ServiceFeatureTwoAr" class="control-label">Service Feature Two Arabic</label>
                                <input asp-for="ServiceFeatureTwoAr" class="form-control" />
                                <span asp-validation-for="ServiceFeatureTwoAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="ServiceFeatureThree" class="control-label">Service Feature Three</label>
                                <input asp-for="ServiceFeatureThree" class="form-control" />
                                <span asp-validation-for="ServiceFeatureThree" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" ServiceFeatureThreeAr" class="control-label">Service Feature Three Arabic</label>
                                <input asp-for="ServiceFeatureThreeAr" class="form-control" />
                                <span asp-validation-for="ServiceFeatureThreeAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="ServiceFeatureFour" class="control-label">Service Feature Four</label>
                                <input asp-for="ServiceFeatureFour" class="form-control" />
                                <span asp-validation-for="ServiceFeatureFour" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" ServiceFeatureFourAr" class="control-label">Service Feature Four Arabic</label>
                                <input asp-for="ServiceFeatureFourAr" class="form-control" />
                                <span asp-validation-for="ServiceFeatureFourAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.Image != null)
                            {
                                <img src="@ViewBag.Image" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="Image" for="file-upload">Upload Images</label>
                    <input asp-for="Image" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.ImageTwo != null)
                            {
                                <img src="@ViewBag.ImageTwo" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageTwo" for="file-upload2">Upload Image Two</label>
                    <input asp-for="ImageTwo" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="ImageTwo" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview image-preview-container3">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.ImageThree != null)
                            {
                                <img src="@ViewBag.ImageThree" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageThree" for="file-upload3">Upload Image Three</label>
                    <input asp-for="ImageThree" class="form-control" type="file" id="file-upload3" onchange="previewImages(`image-preview-container3`);" />
                    <span asp-validation-for="ImageThree" class="text-danger"></span>
                </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <div class="image-preview image-preview-container4">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.Icon != null)
                            {
                                <img src="@ViewBag.Icon" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="Icon" for="file-upload4">Upload Icon</label>
                    <input asp-for="Icon" class="form-control" type="file" id="file-upload4" onchange="previewImages(`image-preview-container4`);" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview image-preview-container5">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if(ViewBag.IconWhite != null)
                            {
                                <img src="@ViewBag.IconWhite" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="IconWhite" for="file-upload5">Upload Icon White</label>
                    <input asp-for="IconWhite" class="form-control" type="file" id="file-upload5" onchange="previewImages(`image-preview-container5`);" />
                    <span asp-validation-for="IconWhite" class="text-danger"></span>
                </div>
                </div>
            </div>
            @*<div class="row" style="justify-content: center;">
                
                <input asp-for="IsActive" hidden class="form-control" type="checkbox" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>*@
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
