<div class="put-rtl">
    <div class="vs-menu-wrapper ">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo321.svg" alt="TechBiz" class=""></a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li class="mb-1 w-100 " style="text-align: start;" >
                        <a asp-controller="Home" asp-action="Index"><span class="has-new-lable">@ViewData["Home"]</span></a>   
                    </li>
                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="AboutUs" asp-action="Index">@ViewData["About"]</a>
                    </li>

                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="Services" asp-action="Index">@ViewData["Services"]</a>
                    </li>
                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="Projects" asp-action="Index">@ViewData["Projects"]</a>
                    </li>
                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="AcadmeicTraining" asp-action="Index">@ViewData["AcedemicTraining"]</a>
                    </li>
                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="Events" asp-action="Index"><span class="has-new-lable">@ViewData["Events"]</span></a>                                       
                    </li>
                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="Departments" asp-action="Index"><span class="has-new-lable">@ViewData["Departments"]</span></a>                                       
                    </li>

                    <li class="mb-1 w-100 " style="text-align: start;">
                        <a asp-controller="ContactUs" asp-action="Info">@ViewData["Contact"]</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<header class="vs-header p-0 put-rtl  header-layout2 w-100 put-rtl" >
        <div class="header-top " style="background:#fff"   >
            <div class="container">
                <div class="row align-items-center justify-content-between text-center text-lg-start">
                    <div class="col-12 d-flex justify-content-between align-items-center text-center text-md-start">
                        <div class="logo-box ">
                        <a href="" class="mb-2 d-flex align-items-center"><img src="~/assets/img/logo321.svg" alt="TechBiz" style="height: 100px; width: 120px;"> <div class="d-md-flex d-none flex-column"><span style="color:#222; font-size:22px; font-weight:600; text-align:start;">@ViewData["GeneralComp"] <span style="color:#222; font-size:22px;font-weight:600">@ViewData["ElectronicSystems"]</span></span>  </div> </a>
                        </div>
                        <div class="header-links">
                            <ul>
                                <li><i class="far fa-phone-alt ms-2"></i><a href="tel:@ViewData["Phone"]">@ViewData["Phone"]</a></li>
                                <li><i class="far fa-envelope ms-2"></i><a href="mailto:@ViewData["FooterEmail"]">@ViewData["FooterEmail"]</a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Main Menu Area -->
        <div class="sticky-wrapper" >
            <div class="sticky-active put-rtl">
            <div class=" nav-container  d-flex justify-content-center " >
                <div class="navbar-nav justify-content-center px-xl-5" >
                        <div class="row align-items-center ">
                          
                         <div class="col-12 col-xl-12 col-xxl-12 d-flex justify-content-end p-0 " >
                                <nav class="main-menu container-fluid position-relative d-flex  w-100 menu-style2 d-none d-xl-block flex-row" style="background-color:transparent" >
                                    <ul class="w-100  d-flex justify-content-center">
                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center ">
                                        <a asp-controller="Home" class="text-light" style="color:#333" asp-action="Index"><span class="has-new-lable">@ViewData["Home"]</span></a>
                                    </li>
                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center ">
                                        <a style="color:#333" asp-controller="AboutUs" class="text-light" asp-action="Index">@ViewData["About"]</a>
                                    </li>

                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a style="color:#333" asp-controller="Services" class="text-light" asp-action="Index">@ViewData["Services"]</a>
                                    </li>
                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a asp-controller="Projects" class="text-light" style="color:#333" asp-action="Index">@ViewData["Projects"]</a>

                                    </li>

                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a asp-controller="AcadmeicTraining" class="text-light" style="color:#333" asp-action="Index">@ViewData["AcedemicTraining"]</a>

                                    </li>

                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a asp-controller="Events" class="text-light" style="color:#333" asp-action="Index">@ViewData["Events"]</a>
                                    </li>
                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a asp-controller="Departments" style="color:#333" class="text-light" asp-action="Index"><span class="has-new-lable">@ViewData["Departments"]</span></a>
                                    </li>

                                    <li class="m-0 px-xxl-2 px-2 d-flex align-items-center">
                                        <a asp-controller="ContactUs" style="color:#111" class="text-light" asp-action="Info">@ViewData["Contact"]</a>
                                    </li>

                                    <li class="m-0 px-xxl-2 d-flex align-items-center px-2 ">
                                        <partial name="_SelectLanguagePartial" />
                                    
                                   
                                        
@*                                     </li>

                                        <li class="m-0 px-xxl-2 px-1">
                                            <div class="header-btns ">
                                            <a href="https://ur4industry.com/index1" target="_blank" class="vs-btn d-none text-light ">@ViewData["UR"]<i class="far fa-arrow-right"></i></a>
                                        </div>
                                    </li> *@
                                    </ul>
                                </nav>
                                <button class="vs-menu-toggle w-100 d-inline-block d-xl-none"><i class="fal fa-bars"></i></button>
                            </div>  
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 
