@model IraqWebsite.ViewModels.AboutUs.AboutUsPageDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" position-relative " style="background:url('/Images/pic.jpg') center ; height:35vh; background-size: cover;">
        <div class="overlay" style="background: rgba(0, 0, 0, .6); position: absolute; top: 0px; left: 0px; height:100%;"></div>
        <div class="container h-100 " style="z-index:4; position:relative"> 
            <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@ViewData["About"]</h1>
            </div>
        </div>
    </div>

<section class=" put-rtl space-top space-extra-bottom">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 mb-30 pb-10 pb-lg-0 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="img-box5">
                        <div class="img-1"><img src="@ViewBag.AboutUs.ImgOne" alt="image" style="height: 300px; width: 500px; object-fit: cover;"></div>
                        <div class="img-bottom">
                            <div class="img-2"><img src="@ViewBag.AboutUs.ImgTwo" alt="image" style="height: 180px; width: 261px; object-fit: cover;"></div>
                            <div class="img-3"><img src="@ViewBag.AboutUs.ImgThree" alt="image" style="height: 230px; width: 175px; object-fit: cover;"></div>
                        </div>
                        <div class="shape1"></div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <span class="sec-subtitle"><i class="fas fa-bring-forward ms-2"></i>@ViewBag.AboutUs.SubTitle</span>
                    <h2 class="sec-title3 h1">@ViewBag.AboutUs.Title</h2>
                    <div class="exp-media">
                        <div class="exp-media__total">@ViewBag.AboutUs.YearsExperience</div>
                        <div class="media-body">
                        <h3 class="exp-media__title">@ViewData["YearsExperience"]</h3>
                            <p class="exp-media__text">@ViewBag.AboutUs.Description</p>
                        </div>
                    </div>
                    <div class="list-style1">
                        <ul>
                            
                            <li class="px-0" ><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color); "></i>@ViewBag.AboutUs.FeatureOneTitle</div></li>
                            <li class="px-0"> <div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureTwoTitle</div></li>
                            <li class="px-0"><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureThreeTitle</div></li>
                            <li class="px-0"><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureFourTitle</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mission space-extra-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card mb-5 p-5 position-relative" style="height: 400px; width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <h4 class="mb-4 px-5 position-relative" style="background:var(--theme-color); color: #fff; width: fit-content; z-index: 10; ">@ViewData["OurMission"]</h4>
                        <p style="z-index: 10; position: relative;">@Model.DescriptionOurMission</p>
                        <div class="line1" style="position: absolute; left: 0px;  z-index: 4; bottom: 0px; background: var(--theme-color); width: 100%; height: 6px;"></div>
                        <div class="line2" style="position: absolute; left: 0px;  z-index: 3; bottom: 0px; background: url(@Model.ImageOurMission)center; background-size: cover; width: 100%; height: 6px;"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card p-5" style="height: 400px; width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <h4 class="mb-4 px-5 position-relative" style="background: var(--theme-color); color: #fff; width: fit-content; z-index: 10; ">@ViewData["OurVision"]</h4>
                        <p style="z-index: 10; position: relative;">@Model.DescriptionOurVision</p>
                        <div class="line1" style="position: absolute; left: 0px;  z-index: 4; bottom: 0px; background: var(--theme-color); width: 100%; height: 6px;"></div>
                        <div class="line2" style="position: absolute; left: 0px;  z-index: 3; bottom: 0px; background: url(@Model.ImageOurVision)center; background-size: cover; width: 100%; height: 6px;"></div>
                                               
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card p-5" style="height: 400px; width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <h4 class="mb-4 px-5" style="background: var(--theme-color); color: #fff; width: fit-content; z-index: 10; ">@ViewData["OurGoals"]</h4>
                        <p style="z-index: 10; position: relative;">@Model.DescriptionOurGoal</p>
                        <div class="line1" style="position: absolute; left: 0px;  z-index: 4; bottom: 0px; background: var(--theme-color); width: 100%; height: 6px;"></div>
                        <div class="line2" style="position: absolute; left: 0px;  z-index: 3; bottom: 0px; background: url(@Model.ImageOurGoal)center; background-size: cover; width: 100%; height: 6px;"></div>
                     </div>
                </div>
            </div>
        </div>
    </section>
       <section class=" put-rtl  space-bottom">
        <div class="container">
            <div class="row flex-row-reverse">

                <div class="col-lg-6 mb-30">
                <span class="sec-subtitle"><i class="fas fa-bring-forward ms-2"></i>@ViewData["MANAGERWORD"]</span>
                    <h2 class="sec-title3 h1">@Model.ManagerWordTitle</h2>
                    <p class="mb-4">@Model.ManagerWordDescription</p>
                <a href="about.html" class="vs-btn">@ViewData["OrganizationalChart"] <i class="far fa-arrow-right"></i></a>
                </div>

                <div class="col-lg-6 mb-30 pb-10 pb-lg-0 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="img-1"><img src="@Model.ImageManagerWord" alt="image" style="height: 500px; width:100%; object-fit: cover;"></div>  
                </div>
               
            </div>
        </div>
    </section>
    <section class="position-relative put-rtl"  style="background: url(./assets/img/slider.jpg) center; background-size: cover;">
        <div class="overlay" style="background: rgba(0, 0, 0, 0.5); position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;  z-index: 2;"></div>
        <div class="container" style="position: relative; z-index: 10;">
            <div class="row gx-60">
                <div class="col-xl-6 align-self-center space  wow fadeInUp" data-wow-delay="0.2s">
                <span class="sec-subtitle text-white">@ViewData["MAKEANAPPOINTMENT"]</span>
                    <h2 class="sec-title3 h1 text-white">@ViewData["WeProvideBestAdviceForYourFuture"]</h2>
                    <hr class="hr-style1">
                    <div class="row gy-30">
                        <div class="col-md-6">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-phone-alt"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["CALLUs"]</span>
                                    <p class="contact-media__info"><a href="tel:+0423565446789">@ViewBag.Contact.Phone</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-envelope"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["CompanyEmail"]</span>
                                    <p class="contact-media__info"><a href="mailto:support@example.com">@ViewBag.Contact.Email</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-map-marker-alt"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["Location"]</span>
                                    <p class="contact-media__info">@ViewBag.Contact.Location</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 form-wrap1">
                    <form action="#" class="form-style1">
                    <h2 class="form-title h4">@ViewData["MAKEANAPPOINTMENTT"]</h2>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Appointment Subject">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Write a short message..."></textarea>
                        </div>
                        <div class="form-btn">
                        <button class="vs-btn style5">@ViewData["MAKEANAPPOINTMENTT"]<i class="far fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
     <section class=" put-rtl space-top about-photos space-extra-bottom" >
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-5 position-relative  wow fadeInUp " data-wow-delay="0.2s" style="position: relative !important; height: 600px ;">
                    
                <img src="@Model.CompanySkillImageOne" class="d-none d-xl-block left-img" alt="Skill image" style="height: 220px; width:250px ; object-fit: cover; position: absolute; border-radius: 20px; left: 0px; top: 20px; ">
                <img src="@Model.CompanySkillImageTwo" class=" d-none d-lg-block right-img" alt="Skill image" style="height: 220px; width:250px ; object-fit: cover; position: absolute; right: -50px; top: 30px; border-radius: 20px; ">
                <img src="@Model.CompanySkillImageThree" class="main-photo " alt="Skill image" style="height: 350px; width:300px ; object-fit: cover; position: absolute; bottom: 50px; border-radius: 20px; left: 70%; transform: translateX(-70%); ">
            

                </div>

                <div class="col-lg-7 put-rtl ">
                <span class="sec-subtitle"><i class="fas fa-bring-forward"></i>@ViewData["THEGREATCOMPANYSKILL"]</span>
                    <h2 class="sec-title3 h1">@Model.CompanySkillTitle</h2>
                    <p class="mb-4 pb-1">@Model.CompanySkillDescription</p>
                </div>
            </div>
        </div>
    </section>
    <div class="counter-wrap1 space position-relative put-rtl" style="background: url(./assets/img/3.jpg) center; background-size: cover; ">
        <div class="overlay" style="z-index: 1; position: absolute; top: 0px; left: 0px; background: rgba(0, 0, 0, .6);"></div>
        <div class="container" style="position: relative; z-index: 4;">
            <div class="row justify-content-between gy-4">
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.2s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscOneIcon" alt="icon"></div>
                        <div class="media-body">
                            <span class="counter-media__number h1 text-light">@ViewBag.Statiscs.StatiscOneNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscOneTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.3s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscTwoIcon" alt="icon"></div>
                        <div class="media-body">
                        <span class="counter-media__number h1 text-light">@ViewBag.Statiscs.StatiscTwoNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscTwoTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.4s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscThreeIcon" alt="icon"></div>
                        <div class="media-body">
                        <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscThreeNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscThreeTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.5s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscFourIcon" alt="icon"></div>
                        <div class="media-body">
                            <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscFourNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscFourTitle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class=" space-top space-extra-bottom " data-bg-src="assets/img/bg/team-bg-5-1.png">
        <div class="container  wow fadeInUp" data-wow-delay="0.2s">
            <div class="title-area text-center">
            <span class="sec-subtitle2">@ViewData["ManagersArchives"]</span>
            <h2 class="sec-title4">@ViewData["OurManagers"]</h2>
            </div>
        </div>
        <div class="container container-style3  wow fadeInUp" data-wow-delay="0.3s">
            <div class="row vs-carousel team-zigzag" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-arrows="true" data-prev-arrow="far fa-arrow-left" data-next-arrow="far fa-arrow-right">
                @foreach(var manager in ViewBag.Managers) {
                     <div class="col-xl-3 team-style3">
                    <div class="team-img">
                        <a href="@manager.Linkden"><img src="@manager.Image" alt="image" style="height: 400px; object-fit: cover;"></a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a class="text-inherit" href="@manager.Linkden">@manager.Name</a></h3>
                        <p class="team-degi">@manager.Position</p>
                        <div class="team-social">
                            <a href="@manager.Linkden"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>
    </section>

    <section class="space" >
        <div class="container">
            <div class="sec-line-wrap">
                <div class="sec-line"></div>
            <h2 class="sec-title2">@ViewData["OURTRUSTEDCLIENTS"]</h2>
                <div class="sec-line"></div>
            </div>
            <div class="row  text-center" >
            @foreach(var client in ViewBag.Clients)
            {
                <div class="col-lg-2 col-md-3 col-12"><a href="@client.Link "><img src="@client.Img" alt="Brand" class="w-100" style="height: 100px; object-fit: contain;"></a></div>
            }
        </div>
        </div>
    </section>