@model IraqWebsite.ViewModels.Events.EditEvent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Edit Event</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="EditEvent" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" TitleAr" class="control-label"></label>
                                <input asp-for="TitleAr" class="form-control" />
                                <span asp-validation-for="TitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="SubDescription" class="control-label">Sub Description</label>
                                <input asp-for="SubDescription" class="form-control" />
                                <span asp-validation-for="SubDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" SubDescriptionAr" class="control-label">Sub Description Arabic</label>
                                <input asp-for="SubDescriptionAr" class="form-control" />
                                <span asp-validation-for="SubDescriptionAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea rows="3" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DescriptionAr" class="control-label"></label>
                        <textarea rows="3" asp-for="DescriptionAr" class="form-control" ></textarea>
                        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <select id="category" class="form-control" asp-for="EventCategoryId">
                            <option value="">Select Category</option>
                            @foreach(var cat in ViewBag.Categories){
                                <option value="@cat.Id">@cat.Title</option>
                            }
                        </select>
                        <span asp-validation-for="EventCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.Image != null)
                            {
                                <img src="@ViewBag.Image" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="Image" for="file-upload">Upload Image</label>
                    <input asp-for="Image" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.ImageTwo != null)
                            {
                                <img src="@ViewBag.ImageTwo" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageTwo" for="file-upload2">Upload Image Two</label>
                    <input asp-for="ImageTwo" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="ImageTwo" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="image-preview image-preview-container3">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.ImageThree != null)
                            {
                                <img src="@ViewBag.ImageThree" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImageThree" for="file-upload3">Upload Image Three</label>
                    <input asp-for="ImageThree" class="form-control" type="file" id="file-upload3" onchange="previewImages(`image-preview-container3`);" />
                    <span asp-validation-for="ImageThree" class="text-danger"></span>
                </div>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
