@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="position-reltive" style="height:100vh; overflow-x:hidden">
    @* <div class="overlay h-100" style="position: absolute; top: 0px; left: 0px; background: linear-gradient(180deg, #3069B3 8.62%, rgba(48, 105, 179, 0) 120.78%);"></div>
    <video style="height:100%;width:100%;" autoplay >
        <source src="./Images/video.mp4" type="video/mp4" style="height:100%;width:100%;">
    </video> *@
        <div class="vs-carousel put-rtl hero-layout3 h-100 hero-layout2" data-slide-show="1" data-fade="true"  >
            @foreach(var slider in ViewBag.Sliders) {
                <div>
                <div class="hero-inner w-100"  style="background: url('/Images/video (2) (1).gif') center; background-size: cover; height:100vh">
                    <div class="overlay h-100" style="position: absolute; top: 0px; left: 0px; background: linear-gradient(180deg, #000 8.62%, rgba(48, 105, 179, 0) 120.78%);"></div>
                    <div class="container d-flex align-items-center justify-content-center flex-column " style="height:100vh!important;">
                        <div class="logo w-100 d-flex justify-content-center mb-4" style="position:relative;  z-index: 1000; ">
                        
                        </div>
                        <div class="hero-content w-100 d-flex justify-content-center flex-column align-items-center">
                            <span class="hero-subtitle">@slider.Title </span>
                            <h1 class="hero-title">@slider.SubTitle</h1>
                            <div class="hero-btns">
                                <a asp-controller="AboutUs" action="Index" class="vs-btn ls-hero-btn">@ViewData["AboutUss"]<i class="far fa-arrow-right"></i></a>
                                @if(slider.ShowBtn) {
                                    <a href="@slider.ButtonLink"  class="vs-btn  style2 ls-hero-btn">@ViewData["ReadMore"]<i class="far fa-arrow-right"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
        </div>
    </section>
    <section class=" put-rtl space-top ">
        <div class="container">
            <div class="row flex-row-reverse">
            <div class="col-lg-6 mb-30 pb-10 pb-lg-0 " data-aos-duration="1000" data-aos-once="true" data-aos="fade-up">
                    <div class="img-box5">
                        <div class="img-1"><img src="@ViewBag.AboutUs.ImgOne" alt="image" style="height: 300px; width: 500px; object-fit: cover;"></div>
                        <div class="img-bottom">
                            <div class="img-2"><img src="@ViewBag.AboutUs.ImgTwo" alt="image" style="height: 180px; width: 261px; object-fit: cover;"></div>
                            <div class="img-3"><img src="@ViewBag.AboutUs.ImgThree" alt="image" style="height: 230px; width: 175px; object-fit: cover;"></div>
                        </div>
                        <div class="shape1"></div>
                    </div>
                </div>
            <div class="col-lg-6 mb-30" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true">
                    <span class="sec-subtitle"><i class="fas fa-bring-forward ms-2"></i>@ViewBag.AboutUs.SubTitle</span>
                    <h2 class="sec-title3 h1">@ViewBag.AboutUs.Title</h2>
                    <div class="exp-media">
                        <div class="exp-media__total">@ViewBag.AboutUs.YearsExperience</div>
                        <div class="media-body">
                        <h3 class="exp-media__title">@ViewData["YearsExperience"]</h3>
                            <p class="exp-media__text">@ViewBag.AboutUs.Description</p>
                        </div>
                    </div>
                    <div class="list-style1">
                        <ul>
                            
                            <li class="px-0" ><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color); "></i>@ViewBag.AboutUs.FeatureOneTitle</div></li>
                            <li class="px-0"> <div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureTwoTitle</div></li>
                            <li class="px-0"><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureThreeTitle</div></li>
                            <li class="px-0"><div class="test"><i class="far fa-check-circle mx-2" style="color: var(--theme-color);"></i>@ViewBag.AboutUs.FeatureFourTitle</div></li>
                        </ul>
                    </div>
                <a asp-controller="AboutUs" asp-action="Index" class="vs-btn">@ViewData["LEARNMORE"]<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class=" space-top space-extra-bottom bg-light " data-bg-src="~/assets/img/bg/sr-bg-3-1.jpg">
    <div class="container" data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-once="true">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-md-8 col-lg-6 text-center text-lg-start" >
                    <div class="title-area w-100" style="display: flex; justify-content: flex-start; flex-direction: column; align-items: flex-start;">
                        <span class="sec-subtitle"><i class="fas fa-bring-forward ms-2"></i>@ViewBag.ServiceSection.SubTitle</span>
                        <h2 class="sec-title3 h1" style="text-align: start;">@ViewBag.ServiceSection.Title</h2>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block put-rtl">
                    <div class="sec-btns2">
                    <a asp-controller="Services" asp-action="Index" class="vs-btn">@ViewData["VIEWSERVICES"]<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        <div class="row vs-carousel" data-arrows="true" data-prev-arrow="far fa-arrow-left" data-next-arrow="far fa-arrow-right" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2">
                @foreach(var service in ViewBag.Services) {
                    <div class="col-xl-3 put-rtl " >
                    <div class="service-style3" style="height:400px">
                        <div class="service-front">
                            <div class="service-img">
                                <img src="@service.Image" alt="image" class="w-100" style="height: 200px; object-fit: cover;">
                            </div>
                            <div class="service-content">
                                <div class="service-icon"><img src="@service.Icon" style="height: 50px; width: 50px; object-fit: contain;" alt="icon"></div>
                                <h3 class="service-title description h6 "><a href="service-details.html">@service.Title</a></h3>
                            </div>
                        </div>
                        <div class="service-back put-rtl h-100">
                            <div class="service-content">
                                <div class="service-icon"><img src="@service.IconWhite" style="height: 50px; width: 50px; object-fit: contain;" alt="icon"></div>
                                <h3 class="service-title h6"><a class="text-inherit" href="service-details.html">@service.Title</a></h3>
                                <p class="service-text">@service.SubDescription</p>
                                <a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id" class="link-btn">@ViewData["ReadDetails"]<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </section>
<div class="counter-wrap1 space position-relative put-rtl" style="background:var(--theme-color) ">
    <div class="overlay" style="z-index: 1; position: absolute; top: 0px; left: 0px; background: rgba(0, 0, 0, .6);"></div>
        <div class="container" style="position:relative; z-index:2;">
            <div class="row justify-content-between gy-4">
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.2s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscOneIcon" alt="icon"></div>
                        <div class="media-body">
                            <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscOneNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscOneTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.3s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscTwoIcon" alt="icon"></div>
                        <div class="media-body">
                        <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscTwoNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscTwoTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.4s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscThreeIcon" alt="icon"></div>
                        <div class="media-body">
                        <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscThreeNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscThreeTitle</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto   wow fadeInUp" data-wow-delay="0.5s">
                    <div class="counter-media">
                        <div class="counter-media__icon"><img src="@ViewBag.Statiscs.StatiscFourIcon" alt="icon"></div>
                        <div class="media-body">
                        <span class="counter-media__number text-light h1">@ViewBag.Statiscs.StatiscFourNumber</span>
                        <p class="counter-media__title text-light">@ViewBag.Statiscs.StatiscFourTitle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class=" space-top   put-rtl">
        <div class="container">
            <div class="title-area text-center  wow fadeInUp" data-wow-delay="0.2s">
                <span class="sec-subtitle2">@ViewBag.ProjectSection.SubTitle</span>
                <h2 class="sec-title4">@ViewBag.ProjectSection.Title</h2>
            </div>
           
            <div class="row  wow fadeInUp" data-wow-delay="0.4s">
                @foreach(var projects in ViewBag.Projects) {
                    
                <div class="col-md-6 mb-5 col-lg-4 filter-item Business Agency">
                    <div class="project-style3">
                        <div class="project-img position-relative">
                            <img src="@projects.Image" alt="image" style="height: 350px; object-fit: cover;">
                        </div>
                        <div class="project-bottom  ">
                            <div class="media-body">
                                <h3 class="project-title h5 description "><a asp-controller="Projects" asp-action="Details" asp-route-item="@projects.Id" class="text-reset">@projects.Title</a></h3>
                                <div class="project-category">@projects.Category.Title</div>
                            </div>
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@projects.Id" class="icon-btn style4"><i class="fas fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>

            <div class="col-12 my-5 d-flex justify-content-center">
            <div class="col-auto d-none d-lg-block">
                <div class="sec-btns2">
                    <a asp-controller="Projects" asp-action="Index" class="vs-btn">@ViewData["ViewAllProjects"]<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        </div>
    </section>


<section class="position-relative put-rtl" style="background: url('/Images/pic.jpg') center; background-size: cover;">
        <div class="overlay" style="background: rgba(0, 0, 0, 0.5); position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;  z-index: 2;"></div>
        <div class="container" style="position: relative; z-index: 10;">
            <div class="row gx-60">
                <div class="col-xl-6 align-self-center space  wow fadeInUp" data-wow-delay="0.2s">
                <span class="sec-subtitle text-white" style="text-transform:uppercase !important">@ViewData["bookanappointment"]</span>
                <h2 class="sec-title3 h1 text-white">@ViewData["WeProvideBest"]</h2>
                    <hr class="hr-style1">
                    <div class="row gy-30">
                        <div class="col-md-6">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-phone-alt"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["CallAvailable"]</span>
                                    <p class="contact-media__info"><a href="tel:@ViewBag.Contact.Phone">@ViewBag.Contact.Phone</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-envelope"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["EmailUs"]</span>
                                    <p class="contact-media__info"><a href="mailto:@ViewBag.Contact.Email">@ViewBag.Contact.Email</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="contact-media">
                                <div class="contact-media__icon"><i class="fal fa-map-marker-alt"></i></div>
                                <div class="media-body">
                                <span class="contact-media__label">@ViewData["OfficeLocation"]</span>
                                    <p class="contact-media__info">@ViewBag.Contact.Location</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 form-wrap1">
                    <form asp-controller="Appointment" asp-action="Appointment" class="form-style1">
                    <h2 class="form-title h4">@ViewData["bookanappointmentt"]</h2>
                        <div class="form-group">
                            <input required type="text" name="Name" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="Email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="Subject" placeholder="Appointment Subject">
                        </div>
                        <div class="form-group">
                            <input required type="date" name="Date" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="form-group">
                            <textarea required name="Message" placeholder="Write a short message..."></textarea>
                        </div>
                        <div class="form-btn">
                        <button class="vs-btn style5">@ViewData["bookanappointmenttt"]<i class="far fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="product space-top space-extra-bottom ">
    <div class="container" data-aos="zoom-out" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-once="true">
            <div class="col-12">
                <div class="title-area text-center  wow fadeInUp" data-wow-delay="0.2s">
                <span class="sec-subtitle2">@ViewData["productss"]</span>
                <h2 class="sec-title4">@ViewData["Latestproductss"]</h2>
                </div>
            </div>
            <div class="row vs-carousel "  data-slide-show="3" data-md-slide-show="2" data-arrows="true" data-prev-arrow="far fa-arrow-left" data-next-arrow="far fa-arrow-right">
                @foreach(var product in ViewBag.Products) {
                     <div class="col-lg-4 p-4">
                    <div class="card" style="border: none; height:515px;  border-radius: 0px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" >
                        <div class="imgbox position-relative">
                            <img src="@product.Image" alt="" style="height: 320px; object-fit: cover;">
                        </div>
                        <div class="text py-4 px-4">
                            <h6 class="my-2" style="color: var(--theme-color);">@product.Category.Title</h6>
                            <h5 class="description">@product.Title</h5>
                        </div>
                    </div>
                </div>
                }
            </div>
           <div class="col-12 my-5 put-rtl text-center">
            <a href="https://ur4industry.com/index1" class="vs-btn">@ViewData["UR"]<i class="far fa-arrow-right"></i></a>
            </div>
        </div>
    </section>



<section class="z-index-common space put-rtl" data-aos="fade-down" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-once="true" style="background:url('/Images/pic2.jpg') center no-repeat ; background-size:cover;">
        <div class="overlay" style="background: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; left: 0px; top: 0px;"></div>
        <div class="container" style="position: relative; z-index: 10;">
            <div class="row text-center text-lg-start align-items-center justify-content-between">
                <div class="col-lg-auto">
                <span class="sec-subtitle w-100  text-white" style="text-align: start;">@ViewData["WEARE"]</span>
                <h2 class="h1 sec-title w-100 cta-title1" style="text-align: start;">@ViewData["NeedAConsultation"] </h2>
                </div>
                <div class="col-lg-auto">
                <a asp-controller="ContactUs" asp-action="Info" class="vs-btn">@ViewData["ContactUs"]<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>


    <section class="vs-blog-wrapper put-rtl space-top bg-light " >
    <div class="container   " data-aos="zoom-out-right" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-once="true">
            <div class="row justify-content-center text-center">
                <div class="col-xl-6">
                    <div class="title-area">
                        <span class="sec-subtitle">@ViewBag.EventSection.SubTitle</span>
                        <h2 class="sec-title3 h1">@ViewBag.EventSection.Title</h2>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel" data-slide-show="3" data-md-slide-show="2" data-arrows="true" data-prev-arrow="far fa-arrow-left" data-next-arrow="far fa-arrow-right">
                @foreach(var even in ViewBag.Events) {
                    <div class="col-xl-4 put-rtl">
                    <div class="vs-blog blog-style2" >
                        <div class="blog-img">
                            <img src="@even.Image" alt="Blog Image" class="w-100" style="object-fit: cover; height: 320px;">
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a asp-controller="Events" asp-action="Details" asp-route-id="@even.Id"><i class="far fa-calendar ms-2"></i> @even.Date.ToString("d MMM, yyyy")</a>
                                </div>
                                <h3 class="blog-title description h6"><a asp-controller="Events" asp-action="Details" asp-route-id="@even.Id">@even.Title</a></h3>
                                <p class="blog-text description" style="height:53px">@even.SubDescription</p>
                                <a asp-controller="Events" asp-action="Details" asp-route-id="@even.Id" class="vs-btn style3">@ViewData["ReadDetails"]<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    

    <section class=" space-top space-extra-bottom " data-bg-src="assets/img/bg/team-bg-5-1.png">
        <div class="container  wow fadeInUp" data-wow-delay="0.2s">
            <div class="title-area text-center">
            <span class="sec-subtitle2">@ViewData["ManagersArchives"]</span>
            <h2 class="sec-title4">@ViewData["MeetOurManagers"]</h2>
            </div>
        </div>
        <div class="container container-style3  wow fadeInUp" data-wow-delay="0.3s">
            <div class="row vs-carousel team-zigzag" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-arrows="true" data-prev-arrow="far fa-arrow-left" data-next-arrow="far fa-arrow-right">
                @foreach(var manager in ViewBag.Managers) {
                     <div class="col-xl-3 team-style3">
                    <div class="team-img">
                        <a href="@manager.Linkden"><img src="@manager.Image" alt="image" style="height: 400px; object-fit: cover;"></a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a class="text-inherit" href="@manager.Linkden">@manager.Name</a></h3>
                        <p class="team-degi">@manager.Position</p>
                        <div class="team-social">
                            <a href="@manager.Linkden"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>
    </section>
 
    <section class="space" >
        <div class="container">
            <div class="sec-line-wrap">
                <div class="sec-line"></div>
            <h2 class="sec-title2">@ViewData["OurTrustedClients"]</h2>
                <div class="sec-line"></div>
            </div>
            <div class="row  text-center" >
            @foreach(var client in ViewBag.Clients)
            {
                <div class="col-lg-2 col-md-3 col-12"><a href="@client.Link "><img src="@client.Img" alt="Brand" class="w-100" style="height: 100px; object-fit: contain;"></a></div>
            }
        </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @*<script src="https://www.google.com/recaptcha/api.js?render=@siteKey"></script>*@
    <script>
        function sendSubscribe() {
            event.preventDefault();
            let email = document.getElementById('emailSubScribe');
            let emailHome = document.getElementById('emailSubScribeHome');
            if (email.value == "") {
                email.value = emailHome.value;
            }
            let token = document.getElementById('token');
            if (email != '') {
                $.ajax({
                    type: 'post',
                    url: '/Subscribers/Create',
                    data: {
                        email: email.value,
                        token: token.value,
                    },
                    success: function(response) {
                        Swal.fire('Success', 'Your Email Added Successfully', 'success');
                        email.value = '';
                        emailHome.value='';
                    },
                    error: function(response) {
                        Swal.fire('Warning', `${response.responseText}`, 'warning');
                        email.value = '';
                        emailHome.value = '';
                         setTimeout(function() {
                            location.reload();
                        }, 1500);
                    }
                })
            }
        }
    </script>